
.team {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  
  padding: 20px;
}

.title-main {
  position: fixed;
  top: 2em;
  font-size: 1rem;
  color: white;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  left: 0;
}

.card {
  width: 200px;
  height: 50vh;
  perspective: 800px;
  margin-bottom: 25px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  background: url("../../assets/bg.png");
  background-size: 100%;
  height: 300px;
  box-shadow: inset 0 0 10px #c92842d4, 0 0 14px #b9233b;
  border: 2px solid #c92842;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
}
.card-front {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  background: url("../../assets/bg.png");
  background-size: 100%;
  height: 300px;
  box-shadow: inset 0 0 10px #c92842d4, 0 0 14px #b9233b;
  border: 2px solid #c92842;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.card-back h1 {
  font-size: 1rem;
}

.card-back p {
  font-family: Roboto;
  font-size: 12px;
  margin: 10px 0 30px;
  padding: 0 20px;
}

.card-back a {
  color: #fff;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
}

.card-front {
  background-color: #f1f1f1;
}

.card-front img {
  width: 90%;
  height: 60%;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #ccc;
  color: #fff;
}

.IDD {
  position: fixed;
  bottom: 0;
  color: #fff;
  right: 0;
}
